<form method="post" action="{{ path('article_delete', {'id': article.id}) }}" onsubmit="return confirm('削除しますか？');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_delete_token" value="{{ csrf_token('article_delete' ~ article.id) }}">
    <button class="btn">削除する</button>
</form>
