{% extends 'base.html.twig' %}

{% block title %}記事編集{% endblock %}

{% block body %}
    <h1>記事編集</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('article_index') }}">back to list</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
