{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1>記事を投稿する</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('article_index') }}">戻る</a>
{% endblock %}
